{% extends 'base.html' %}

{% block title %} Team Ariana {% endblock %}

{% block header %}
    <h1>"It's Not About The Pasta!"</h1>
    <h4>"Pumptini"</h4>
    <a href="leisa.html"><img src="static/vpr_logo.png"></a>
    <img class="VPR" src="static/vpr_queen_bee.png">
    <img class="VPR" src="static/vpr_drama_queen.png">
    <img class="VPR" src="static/vpr_mama_bear.png">
    <img class="VPR" src="static/vpr_class_clown.png">
    <img class="VPR" src="static/vpr_giggy.png">
    <img class="VPR" src="static/vpr_group.png">
{% endblock %}

